<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">

  <menuitem name="menu-admission-process" order="-90"
    title="Admission Process" icon="fa-book" icon-background="olive" />

  <menuitem name="menu-root-faculty" parent="menu-admission-process"
    title="Faculty" />

  <menuitem name="menu-faculty-faculty" parent="menu-root-faculty"
    title="All Faculty" action="faculty.all" />

  <action-view name="faculty.all" title="Faculties"
    model="com.axelor.admission.db.Faculty">
    <view type="grid" name="faculty-grid" />
    <view type="form" name="faculty-form" />
  </action-view>

  <menuitem name="menu-faculty-entry" parent="menu-root-faculty"
    title="Faculty Entry" action="faculty.entry.all" />

  <action-view name="faculty.entry.all" title="Faculty entries"
    model="com.axelor.admission.db.FacultyEntry">
    <view type="grid" name="faculty-entry-grid" />
    <view type="form" name="faculty-entry-form" />
  </action-view>

  <menuitem name="menu-root-College" parent="menu-admission-process"
    title="College" />

  <menuitem name="menu-college-college" parent="menu-root-College"
    title="All College" action="college.all" />

  <action-view name="college.all" title="Colleges"
    model="com.axelor.admission.db.College">
    <view type="grid" name="college-grid" />
    <view type="form" name="college-form" />
  </action-view>

  <menuitem name="menu-college-entry" parent="menu-root-College"
    title="All College Entry" action="college.entry.all" />

  <action-view name="college.entry.all" title="College entries"
    model="com.axelor.admission.db.CollegeEntry">
    <view type="grid" name="college-entry-grid" />
    <view type="form" name="college-entry-form" />
  </action-view>

  <menuitem name="menu-root-admission-process" parent="menu-admission-process"
    title="Admission Process" action="view.admission.all" />

  <action-view name="view.admission.all" title="Admission Process"
    model="com.axelor.admission.db.AdmissionProcess">
    <view type="grid" name="admission-process-grid" />
    <view type="form" name="admission-process-form" />
  </action-view>

  <menuitem name="menu-root-admission-entry" parent="menu-admission-process"
    title="Admission Entry" action="view.admission.entry.all" />

  <action-view name="view.admission.entry.all" title="Admission Entries"
    model="com.axelor.admission.db.AdmissionEntry">
    <view type="grid" name="admission-entry-grid" />
    <view type="form" name="admission-entry-form" />
  </action-view>

</object-views>
